In [1]:
A= {i for i in range(1,5)}
B= {i for i in range(2,6) if i !=3}
print("A:", A, "B:", B)
print("set.union(A,B):", set.union(A,B))
print("set.intersection(A,B):", set.intersection(A,B))
print("set.difference(A,B):", set.difference(A,B))
print("set.symmetric_difference(A,B):", set.symmetric_difference(A,B))
print("A|B:", A|B)
print("A&B:", A&B)
print("A-B:", A-B)

A: {1, 2, 3, 4} B: {2, 4, 5}
set.union(A,B): {1, 2, 3, 4, 5}
set.intersection(A,B): {2, 4}
set.difference(A,B): {1, 3}
set.symmetric_difference(A,B): {1, 3, 5}
A|B: {1, 2, 3, 4, 5}
A&B: {2, 4}
A-B: {1, 3}

In [2]:
#3의 배수 구하기
set_3 = {num for num in range(1, 101) if num % 3 == 0}

#5의 배수 구하기
set_5 = {num for num in range(1, 101) if num % 5 == 0}

#3과 5의 공배수 구하기
result_set = set_3.intersection(set_5)
print(result_set)

{75, 45, 15, 90, 60, 30}

In [4]:
role_admin = ("회계 관리", "인사 관리", "구매 관리", "시스템 관리")
role_hr = ("인사 관리", "개인정보 조회", "회계 관리", "근태 관리")
role_user = ("개인정보 조회", "근태 관리")

#합치고 중복제거
roles = role_admin + role_hr + role_user
roles_set = set(roles)

#리스트로 만들고 오름차순정렬
roles_list = list(roles_set)
roles_list.sort()

print(",".join(roles_list))

개인정보 조회,구매 관리,근태 관리,시스템 관리,인사 관리,회계 관리

In [23]:
#각 입력받은 정수를 10씩 더해서 반환하는 함수 

def plus_ten(num):
    return num+10

number=int(input("정수를 입력하세요:"))
plus_ten(number)

정수를 입력하세요: 30

40

In [32]:
#화씨온도를 섭씨온도로 변경하는 함수 코드

def to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9
    return celsius

temp=int(input("화씨온도를 입력하세요:"))
to_celsius(temp)

화씨온도를 입력하세요: 50

10.0

In [38]:
def odd_even(n):
    """number가 짝수면 "짝수", 홀수면 "홀수" 반환"""
    if type(n) != int or n <= 0:  # 자연수가 아니면 함수를 종료합니다.
        return      #None출력
    if n % 2 == 0:  #짝수인 경우
        return "짝수"
    else:           #홀수인 경우
        return "홀수"

result = odd_even(10)
print(result)  #짝수

result = odd_even(9)
print(result)  #홀수

result = odd_even(-3)
print(result)  #None

result = odd_even("가")
print(result)  #None

print(odd_even.__doc__)

짝수
홀수
None
None
number가 짝수면 "짝수", 홀수면 "홀수" 반환

In [43]:
#윤년/평년 알려주는 함수 코드

def check_leap_year(year):
    if (year%4==0) and (year%100 !=0 or year%400 ==0):
        return "윤년"
    else:
        return "평년"
    
years=int(input("연도를 입력하세요:"))
check_leap_year(years)

연도를 입력하세요: 1900

'평년'

In [48]:
def days(month):
    if month == 2: # 2월
        return 28
    elif month in [4, 6, 9, 11]: # 30일인 달
        return 30
    else: # 31일인 달
        return 31

months=int(input("월을 입력하세요:"))
days(months)

월을 입력하세요: 8

31

In [72]:
def days(year, month):
    if month in [1, 3, 5, 7, 8, 10, 12]:
        return 31
    elif month in [4, 6, 9, 11]:
        return 30
    elif month== 2:
        if (year%4 == 0 and year%100 != 0) or year%400 == 0:
            return 29
        else:
            return 28
    else:
        return None  # 잘못된 월이 입력되면 None을 반환합니다.
    
print(days(1900,11))
print(days(2004,10))
print(days(1900,2))
print(days(2000,2))

year, month=input("연도와 월을 입력하세요:").split()
print(days(year, month))

30
31
28
29

연도와 월을 입력하세요: 2004 10

None

In [73]:
(lambda x: x+10) (10)

20

In [74]:
twice=lambda x: x*2
print(twice(10))

20

In [75]:
a=[i for i in range(1,6)]
b=[i for i in range (2,11,2)]
print(list(map(lambda x, y: x*y, a,b)))

[2, 8, 18, 32, 50]