In [ ]:
#1강. 자료구조란, 여러 개의 데이터가 묶여있는 자료형을 컨테이너 자료형이라 하고, 이런 데이터구조를 자료구조라 한다.

'''
1. 리스트 =[ ] 수정 가능, 중복 가능
2. 튜플 = ( )  수정 불가, 중복 가능
3. 딕셔너리 = {key: value} 
4. 세트 = { }  중복 불가
'''

In [ ]:
#2강. 리스트란, 여러 개의 데이터를 나열한 자료구조
'''
1. 숫자, 문자(열), 논리형 등 모든 기본데이터를 같이 저장할 수 있다.
2. 리스트에 또다른 컨테이너 자료형을 저장할 수 있다. [10,20,30,[40,50,60]]

In [6]:
#3강. 리스트 아이템조회 --> 인덱스란 아이템에 자동으로 부여되는 번호표, 0부터 시작, 역순은 -1부터 시작

#4강. 리스트의 길이 --> len()함수사용

#len()과 반복문을 사용하면 아이템 조회 가능

students = ['홍길동', '박찬호', '박세리', '김연아', '손연재']

#1. for문 사용
for i in range(len(students)):
    print('students[{}]: {}'.format(i, students[i]))

print()

#2. while문 사용
n=0
while n< len(students):
    print('students[{}]: {}'.format(n, students[n]))
    n+=1

students[0]: 홍길동
students[1]: 박찬호
students[2]: 박세리
students[3]: 김연아
students[4]: 손연재

students[0]: 홍길동
students[1]: 박찬호
students[2]: 박세리
students[3]: 김연아
students[4]: 손연재

In [45]:
#5강. 리스트와 for문(1)

#for문을 사용한 조회

students = ['홍길동', '박찬호', '박세리', '김연아', '손연재']
for i in range(len(students)):
    print(students[i])
    
print()    
    
for s in students:
    print(s)
    
    
#리스트안에 리스트
studentCnts= [[1,19], [2,20], [3, 30], [4,25]]
for classNo, cnt in studentCnts:   #지역변수 2개 선언
    print('{}학급 학생수: {}'.format(classNo, cnt))

홍길동
박찬호
박세리
김연아
손연재

홍길동
박찬호
박세리
김연아
손연재
1학급 학생수: 19
2학급 학생수: 20
3학급 학생수: 30
4학급 학생수: 25

In [16]:
#6강. 리스트와 for문(2)

minScore =60

scores=[['kor',58], ['eng',77], ['mat', 89], ['sci', 99], ['his', 50]]

#1. 인덱스 활용
for item in scores:
    if item[1] < minScore:
        print('과락 과목: {}, 점수: {}'.format(item[0], item[1]))

print()

#2. 지역변수 활용
for subject, score in scores:
    if score < minScore:
        print('과락 과목: {}, 점수: {}'.format(subject, score))

과락 과목: kor, 점수: 58
과락 과목: his, 점수: 50

과락 과목: kor, 점수: 58
과락 과목: his, 점수: 50

In [17]:
'''
사용자가 국어, 영어, 수학, 과학, 국사 점수를 입력하면 과락 과목과 점수를 출력하는 코드 
단, 60점 미만이면 과락이다
for문 사용
'''

# create a list of subject names
subjects = ['Korean', 'English', 'Math', 'Science', 'History']

# iterate through the subjects and get the user's score
for subject in subjects:
    score = int(input(f"Enter your {subject} score: "))
    if score < 60:
        print(f"You failed {subject} with a score of {score}")

Enter your Korean score:  80
Enter your English score:  59

You failed English with a score of 59

Enter your Math score:  66
Enter your Science score:  70
Enter your History score:  50

You failed History with a score of 50

In [21]:
'''
classes=[['class1',18], ['class2',19], ['class3', 23], ['class4', 21], ['class5', 20], ['class6', 22], ['class7', 17]]
학급 학생수가 가장 작은 학급과 가장 많은 학급을 출력
for문 사용
'''
classes = [['class1', 18], ['class2', 19], ['class3', 23], ['class4', 21], ['class5', 20], ['class6', 22], ['class7', 17]]

# initialize variables to keep track of min and max values
min_students = classes[0][1]
max_students = classes[0][1]
min_class = classes[0][0]
max_class = classes[0][0]

# loop through each class in the list
for c in classes:
    if c[1] < min_students:
        min_students = c[1]
        min_class = c[0]
    if c[1] > max_students:
        max_students = c[1]
        max_class = c[0]

# print the results
print("Class with the smallest number of students:", min_class, "(", min_students, "students)")
print("Class with the largest number of students:", max_class, "(", max_students, "students)")

Class with the smallest number of students: class7 ( 17 students)
Class with the largest number of students: class3 ( 23 students)

In [29]:
#7강. 리스트와 while문(1) : while문을 이용하여 다양한 방법으로 조회가능

students = ['홍길동', '박찬호', '박세리', '김연아', '손연재']

#while문1
n=0
while n< len(students):
    print(students[n])
    n+=1
 
print()

#while문2
n=0
flag=True
while flag:
    print(students[n])
    n+=1

    if n == len(students): 
        flag=False
  
print()

#while문3
n=0
while True:
    print(students[n])
    n+=1

    if n == len(students): 
        break

홍길동
박찬호
박세리
김연아
손연재

홍길동
박찬호
박세리
김연아
손연재

홍길동
박찬호
박세리
김연아
손연재

In [28]:
'''
classes = [['class1', 18], ['class2', 19], ['class3', 23], ['class4', 21], ['class5', 20], ['class6', 22], ['class7', 17]] 
while문을 사용해서 학급별 학생수, 전체학생수, 평균학생수를 각각 출력해줘
'''

# initialize variables
i = 0
num_classes = len(classes)
total_students = 0

# loop through each class
while i < num_classes:
    # get the name and number of students for the current class
    class_name = classes[i][0]
    num_students = classes[i][1]
    
    # output the number of students for the current class
    print("Class:", class_name, "- Number of students:", num_students)
    
    # add the number of students to the total
    total_students += num_students
    
    # increment the counter variable
    i += 1
    
# output the total number of students and the average number of students
print("Total number of students:", total_students)
print("Average number of students per class:", total_students / num_classes)

Class: class1 - Number of students: 18
Class: class2 - Number of students: 19
Class: class3 - Number of students: 23
Class: class4 - Number of students: 21
Class: class5 - Number of students: 20
Class: class6 - Number of students: 22
Class: class7 - Number of students: 17
Total number of students: 140
Average number of students per class: 20.0

In [30]:
#8강.리스트와 while문(2)   
'''
사용자가 국어, 영어, 수학, 과학, 국사 점수를 입력하면 과락 과목과 점수를 출력하는 코드 
단, 60점 미만이면 과락이다
while문 사용
'''

# initialize variables
subjects = ['Korean', 'English', 'Math', 'Science', 'History']
scores = []
failed_subjects = []
failed_scores = []

# take user input for scores
i = 0
while i < len(subjects):
    score = int(input("Enter your score for " + subjects[i] + ": "))
    scores.append(score)
    if score < 60:
        failed_subjects.append(subjects[i])
        failed_scores.append(score)
    i += 1

# output the failed subjects and their scores
if len(failed_subjects) > 0:
    print("You failed the following subjects:")
    for i in range(len(failed_subjects)):
        print(failed_subjects[i] + ": " + str(failed_scores[i]))
else:
    print("Congratulations! You passed all subjects.")

Enter your score for Korean:  58
Enter your score for English:  77
Enter your score for Math:  89
Enter your score for Science:  99
Enter your score for History:  50

You failed the following subjects:
Korean: 58
History: 50

In [33]:
'''
classes=[['class1',18], ['class2',19], ['class3', 23], ['class4', 21], ['class5', 20], ['class6', 22], ['class7', 17]]
학급 학생수가 가장 작은 학급과 가장 많은 학급을 출력
while문 사용
'''

classes = [['class1', 18], ['class2', 19], ['class3', 23], ['class4', 21], ['class5', 20], ['class6', 22], ['class7', 17]]

# initialize variables for minimum and maximum class size
min_class = classes[0][1]
max_class = classes[0][1]

# initialize variables for total and count of students
total_students = 0
count = 0

# loop through the list using a while loop
while count < len(classes):
    # get the current class size
    current_class_size = classes[count][1]
    
    # add the current class size to the total
    total_students += current_class_size
    
    # check if the current class size is smaller than the minimum class size
    if current_class_size < min_class:
        min_class = current_class_size
    
    # check if the current class size is larger than the maximum class size
    if current_class_size > max_class:
        max_class = current_class_size
    
    # increment the count variable
    count += 1

# calculate the average class size
average_class_size = total_students / len(classes)

# output the results
print("Class with the smallest number of students:", min_class)
print("Class with the largest number of students:", max_class)
print("Average class size:", int(average_class_size))

Class with the smallest number of students: 17
Class with the largest number of students: 23
Average class size: 20

In [36]:
#9강. enumerate()함수: 인덱스와 아이템을 한번에 조회가능

sports =[ '농구', '축구', '야구', '수영', '마라톤']

for i in range(len(sports)):
    print('{}:{}'.format(i,sports[i]))

print()

#enumerate()함수 사용
for idx, value in enumerate(sports):
    print('{}:{}'.format(idx,value))

0:농구
1:축구
2:야구
3:수영
4:마라톤

0:농구
1:축구
2:야구
3:수영
4:마라톤

In [39]:
'''
sports = ['basketball', 'soccer', 'baseball', 'swimming', 'marathon']
가장 좋아하는 스포츠를 입력받아 리스트의 몇번째에 있는지 출력하는 프로그램
enumerate()사용
'''

sports = ['basketball', 'soccer', 'baseball', 'swimming', 'marathon']
favorite_sport = input("What is your favorite sport? ")

for index, sport in enumerate(sports):
    if sport == favorite_sport:
        print(f"{favorite_sport} is in the {index+1} position in the list.")
        break
else:
    print(f"{favorite_sport} is not in the list.")

What is your favorite sport?  swimming

swimming is in the 4 position in the list.

In [40]:
#사용자가 입력한 문자열에서 공백의 갯수를 출력하는 프로그램, enumerate()사용

string = input("Enter a string: ")
count = 0

for index, char in enumerate(string):
    if char == ' ':
        count += 1

print(f"There are {count} spaces in the string '{string}'.")

Enter a string:  오늘 날씨는 아주 좋습니다.

There are 3 spaces in the string '오늘 날씨는 아주 좋습니다.'.

In [45]:
#10강. 리스트에 아이템 추가: append()함수를 이용하면 마지막 인덱스에 아이템 추가가능

#11강. 리스트의 특정위치에 아이템 추가: insert()함수를 이용하면 특정위치(인덱스)에 아이템 추가가능

words = ['I', 'a', 'boy']
for i in words:
    print(i, end='')

print()

words.insert(1, 'am')
for i in words:
    print('{} '.format(i), end='')

Iaboy
I am a boy

In [48]:
'''
오름차순으로 정렬되어 있는 숫자들에 사용자가 입력한 정수를 추가하는 프로그램
단, 추가 후에도 오름차순 정렬이 유지되어야 한다
'''

numbers = [1, 3, 6, 11, 45, 54, 62, 74, 85]
num = int(input("Enter a number to add: "))

for index, value in enumerate(numbers):
    if num < value:
        numbers.insert(index, num)
        break
else:
    numbers.append(num)

print(numbers)

Enter a number to add:  55

[1, 3, 6, 11, 45, 54, 55, 62, 74, 85]

In [58]:
#12강. 리스트의 아이템 삭제: pop()함수를 사용해서 마지막 인덱스 아이템을 삭제 가능

#13강. 리스트의 특정 아이템 삭제 

#삭제하려는 아이템이 여러개라면 while문 사용

sports =[ '농구', '축구', '야구', '수영', '마라톤', '수영']
sports.remove('수영') #4번쨰 수영만 삭제됨
print(sports)

print()

while '수영' in sports:
    sports.remove('수영') #모든 '수영' 삭제
    print(sports)

print()

#최고점과 최저점 삭제 후 출력

scores = [9.5, 8.9, 9.2, 9.8, 8.8, 9.0]

highest = max(scores)
lowest = min(scores)

scores.remove(highest) 
scores.remove(lowest) 

print(f"Highest score: {highest}")
print(f"Lowest score: {lowest}")
print("Updated scores:", sorted(scores))

['농구', '축구', '야구', '마라톤', '수영']

['농구', '축구', '야구', '마라톤']

Highest score: 9.8
Lowest score: 8.8
Updated scores: [8.9, 9.0, 9.2, 9.5]

In [59]:
#14강. 리스트 연결: extend()함수를 이용하면 또다른 리스트를 연결할 수 있다.

#나와 내친구가 좋아하는 번호를 합치되 번호가 중복되지 않도록 출력하는 프로그램

my_numbers = [1, 2, 3, 4, 5]
friend_numbers = [3, 4, 5, 6, 7]

my_numbers.extend([number for number in friend_numbers if number not in my_numbers])

print(my_numbers)

[1, 2, 3, 4, 5, 6, 7]

In [60]:
#15강. 리스트 아이템 정렬:오름차순(sort()) 또는 내림차순(sort(reverse=True))

#최고점과 최저점 삭제 후 sort함수를 이용해서 오름차순 정렬 후 출력
scores = [9.5, 8.9, 9.2, 9.8, 8.8, 9.0]

highest = max(scores)
lowest = min(scores)

scores.remove(highest)
scores.remove(lowest)

scores.sort()
print(scores)

[8.9, 9.0, 9.2, 9.5]

In [66]:
#16강. 리스트 아이템 순서뒤집기: reverse()함수를 사용

secret ='27156231' #문자열
secretList =[]
solvedList=''

for cha in secret:
    secretList.append(int(cha))
print('secretList: {}'.format(secretList))

secretList.reverse()
print('secretList_reveresed: {}'.format(secretList))

val= secretList[0] * secretList[1]
secretList.insert(2, val)

val= secretList[3] * secretList[4]
secretList.insert(5, val)

val= secretList[6] * secretList[7]
secretList.insert(8, val)

val= secretList[9] * secretList[10]
secretList.insert(11, val)

print('secretList_decoded: {}'.format(secretList))

secretList: [2, 7, 1, 5, 6, 2, 3, 1]
secretList_reveresed: [1, 3, 2, 6, 5, 1, 7, 2]
secretList_decoded: [1, 3, 3, 2, 6, 12, 5, 1, 5, 7, 2, 14]

In [ ]:
#17강. 리스트 슬라이싱
'''
[n : m]을 사용하면 리스트에서 원하는 아이템만 뽑아내거나 아이템 수정가능 (n부터, m-1까지)
slice(n , m)함수로 슬라이싱 가능 (n부터, m-1까지)
'''

In [76]:
#18강. 리스트 나머지 기능1
'''
1. 리스트를 곱셈 연산하면 아이템이 반복된다.
2. index(item) : item의 인덱스를 알 수 있다.
'''

sports =[ '농구', '축구', '야구', '수영', '마라톤', '수영']
print(sports.index('수영')) #맨 처음것만 출력
print(sports.index('수영', 5, 6)) #범위 설정

3
5

In [78]:
#1부터 10까지의 정수가 중복되지 않고 섞여있을 때 7의 위치를 찾는 프로그램

import random

numbers = list(range(1, 11))
random.shuffle(numbers)

position = numbers.index(7) + 1

print(f"The mixed numbers are: {numbers}")
print(f"The position of 7 in the mixed numbers is: {position}")

The mixed numbers are: [8, 2, 9, 6, 3, 1, 4, 5, 10, 7]
The position of 7 in the mixed numbers is: 10

In [84]:
#19강. 리스트 나머지 기능2
'''
1. count()함수를 이용하면 특정 아이템의 갯수를 알아낼 수 있다
2. del()함수를 이용하면 특정 아이템을 삭제할 수 있다.
'''

#count()함수
sports =[ '농구', '축구', '야구', '수영', '마라톤', '수영']
sports.count('수영')

#del()함수
sports =[ '농구', '축구', '야구', '수영', '마라톤', '수영']
del sports[2]
print(sports)

del sports[1:3]
print(sports)

['농구', '축구', '수영', '마라톤', '수영']
['농구', '마라톤', '수영']

In [12]:
#헌혈을 진행한 후 혈액형 별 개수를 화면에 출력하는 프로그램. 이때 혈액형별 도너의 숫자는 랜덤으로 정한다

import random

types = ["A", "B", "AB", "O"]
todaydata= []

for i in range(100):
    type = types[random.randrange(len(types))]
    todaydata.append(type)
    
print(todaydata)
print('todayData length: {}'.format(len(todaydata)))

for type in types:
    print('{}형은: {}개'.format(type,todaydata.count(type)))

['B', 'AB', 'A', 'A', 'B', 'A', 'O', 'O', 'A', 'B', 'O', 'A', 'B', 'A', 'AB', 'A', 'AB', 'B', 'A', 'AB', 'A', 'A', 'A', 'AB', 'A', 'AB', 'B', 'O', 'O', 'A', 'B', 'O', 'O', 'A', 'AB', 'AB', 'AB', 'O', 'A', 'B', 'AB', 'B', 'B', 'O', 'O', 'AB', 'B', 'AB', 'AB', 'B', 'O', 'O', 'B', 'B', 'B', 'A', 'AB', 'O', 'A', 'A', 'AB', 'B', 'A', 'B', 'A', 'O', 'AB', 'O', 'A', 'O', 'A', 'A', 'O', 'AB', 'A', 'AB', 'AB', 'AB', 'O', 'AB', 'A', 'B', 'AB', 'B', 'A', 'O', 'O', 'AB', 'AB', 'AB', 'B', 'B', 'A', 'B', 'B', 'B', 'AB', 'O', 'O', 'A']
todayData length: 100
A형은: 28개
B형은: 24개
AB형은: 26개
O형은: 22개

In [ ]:
#20강. 튜플
'''
1. 아이템 수정 및 삭제가 불가능
2. ()로 선언하고 데이터 구분은 ',' 로 한다
3. 숫자, 문자(열), 논리형 등 모든 데이터를 저장 가능
4. 튜플안에 또다른 컨테이너 자료형도 저장 가능
5. 튜플 선언 시 괄호 생략 가능
6. 리스트와 튜플은 자료형 변환 가능: tuple(students), list(students)
'''

#21강. 튜플 아이템 조회: 인덱스

In [13]:
#22강. 튜플 in, not in키워드: 아이템의 존재 유/무를 알 수 있다

#1~10까지 5개의 난수를 생성한 후 사용자가 입력한 숫자가 있는지 없는지 출력하는 프로그램
import random

numbers = []
for i in range(5):
    numbers.append(random.randint(1, 10))

user_number = int(input("Enter a number: "))

if user_number in numbers:
    print(f"{user_number} is in the list of random numbers: {numbers}")
else:
    print(f"{user_number} is not in the list of random numbers: {numbers}")

Enter a number:  10

10 is in the list of random numbers: [5, 10, 7, 3, 3]

In [14]:
#23강. 튜플 길이: len()함수

#24강. 튜플 결합: +연산자 (extend()함수는 사용불가)   cf. 리스트 결합: extend()함수, +연산자

#나와 내친구가 좋아하는 번호를 튜플로 만들어 합치되 번호가 중복되지 않도록 출력하는 프로그램

my_numbers = (1, 2, 3, 4, 5)
friend_numbers = (3, 4, 5, 6, 7)

combined_numbers = tuple(set(my_numbers + friend_numbers)) #set(): 중복금지

print(combined_numbers)

(1, 2, 3, 4, 5, 6, 7)

In [ ]:
#25강. 튜플 슬라이싱
'''
1. 리스트와 마찬가지로 [n:m]을 사용한다 
2. 튜플은 슬라이싱을 이용해서 아이템을 변경할 수 없다.
'''

In [21]:
#26강. 리스트와 튜플

#리스트는 아래 모두 가능하나, 튜플은 모두 불가

sports =[ '농구', '축구', '야구', '수영', '마라톤', '수영']

#1.추가
sports.append('테니스')
print(sports)

#2.변경
sports[2] = '역도'
print(sports)

#3.삭제
sports.pop()
print(sports)

['농구', '축구', '야구', '수영', '마라톤', '수영', '테니스']
['농구', '축구', '역도', '수영', '마라톤', '수영', '테니스']
['농구', '축구', '역도', '수영', '마라톤', '수영']

In [26]:
#최고점과 최저점 삭제 후 sort함수를 이용해서 오름차순 정렬 후 출력

scores = (9.5, 8.9, 9.2, 9.8, 8.8, 9.0)

sorted_scores = list(scores) #리스트로 변환
sorted_scores.remove(max(sorted_scores)) #리스트에서 삭제 
sorted_scores.remove(min(sorted_scores)) #리스트에서 삭제

total_score = sum(sorted_scores)
average_score = total_score / len(sorted_scores)

print(sorted_scores)
print(f"Total score: {round(total_score,3)}")
print(f"Average score: {round(average_score,3)}")

[9.5, 8.9, 9.2, 9.0]
Total score: 36.6
Average score: 9.15

In [ ]:
#27강. 튜플 아이템 정렬
'''
1. 수정이 불가하므로, 리스트로 변환후 sort()함수로 정렬한다.
2. sorted()함수를 이용하면 튜플도 정렬가능. 단, sorted()는 리스트 자료형으로 반환한다.
'''

In [46]:
#28~29강. 튜플과 for문 : for문을 사용한 조회

students = '홍길동', '박찬호', '박세리', '김연아', '손연재'
for i in range(len(students)):
    print(students[i])
    
print()    
    
for s in students:
    print(s)
    
    
#중첩 튜플문 조회가능

studentCnts=((1,19), (2,20), (3,22), (4,18), (5,21))
for classNo, cnt in studentCnts:
    print('{}학급 학생 수 : {}'.format(classNo, cnt))

홍길동
박찬호
박세리
김연아
손연재

홍길동
박찬호
박세리
김연아
손연재

In [49]:
#30~31강. 튜플과 while문(1) :  while문을 사용한 조회

students = ('홍길동', '박찬호', '박세리', '김연아', '손연재')

#while문1
n=0
while n< len(students):
    print(students[n])
    n+=1
 
print()

#while문2
n=0
flag=True
while flag:
    print(students[n])
    n+=1

    if n == len(students): 
        flag=False
  
print()

#while문3
n=0
while True:
    print(students[n])
    n+=1

    if n == len(students): 
        break

홍길동
박찬호
박세리
김연아
손연재

홍길동
박찬호
박세리
김연아
손연재

홍길동
박찬호
박세리
김연아
손연재

In [54]:
#32강. 딕셔너리 

'''
1. key와 value를 사용해서 자료를 관리한다.
2. key와 value에는 숫자, 문자열, 논리형 뿐만 아니라 컨테이너 자료형도 올 수 있다.
'''

#33강. 딕셔너리 조회

students={ 's1': '홍길동', 's2': '박찬호', 's3': '이용규', 's4': ['박세리', '박공주']}

print(students['s4']) #[]로 조회
print(students.get('s1')) #get(key)로 조회, 단 없는 key라도 에러발생하지 않고 None으로 출력

['박세리', '박공주']
홍길동

In [58]:
#34강. 딕셔너리 추가: 키를 이용해서 아이템 추가, 이미 있다면 기존정보 수정

#학생정보(이름, 학년, 메일, 주소)를 입력받아 딕셔너리에 추가하는 프로그램

student_dict = {}

name = input("Enter student name: ")
grade = input("Enter student grade: ")
email = input("Enter student email: ")
address = input("Enter student address: ")

student_dict = {
    "name": name,
    "grade": grade,
    "email": email,
    "address": address
}

print("Student information added to dictionary:")
print(student_dict)

Enter student name:  레나
Enter student grade:  1
Enter student email:  amor
Enter student address:  서울

Student information added to dictionary:
{'name': '레나', 'grade': '1', 'email': 'amor', 'address': '서울'}

In [59]:
# 0~10까지의 각각의 정수에 대한 팩토리얼을 딕셔너리에 추가하는 프로그램

factorials = {}  # create an empty dictionary

for i in range(11):
    if i == 0:
        factorials[i] = 1  # factorial of 0 is 1
    else:
        factorial = 1
        for j in range(1, i+1):
            factorial *= j
        factorials[i] = factorial

print(factorials)  # display the dictionary

{0: 1, 1: 1, 2: 2, 3: 6, 4: 24, 5: 120, 6: 720, 7: 5040, 8: 40320, 9: 362880, 10: 3628800}

In [60]:
#35강. 딕셔너리 수정: 딕셔너리 이름[key] =value 형태로 아이템을 수정한다.

#학생의 시험 점수가 60점 미만이면 F(재시험)으로 값을 변경

# get input from user for subject scores
korean_score = int(input("Enter Korean score: "))
english_score = int(input("Enter English score: "))
math_score = int(input("Enter Math score: "))
science_score = int(input("Enter Science score: "))
history_score = int(input("Enter History score: "))

# create a dictionary to store the subject scores
subject_scores = {
    'Korean': korean_score,
    'English': english_score,
    'Math': math_score,
    'Science': science_score,
    'History': history_score
}

# loop through the dictionary and change the score to 'F' if it's less than 60
for subject, score in subject_scores.items():
    if score < 60:
        subject_scores[subject] = 'F'

print(subject_scores)  # display the dictionary

Enter Korean score:  88
Enter English score:  55
Enter Math score:  85
Enter Science score:  57
Enter History score:  82

{'Korean': 88, 'English': 'F', 'Math': 85, 'Science': 'F', 'History': 82}

In [64]:
#하루에 몸무게와 신장이 각각 -0.3kg, +0.001m씩 변한다고 할 때, 30일 후의 몸무게와 신장의 값을 저장하고 BMI도 출력

myBodyInfo = {'name': 'Kevin', 'weight': 83, 'height': 1.8}

# calculate weight and height after 30 days
myBodyInfo['weight'] -= 0.3 * 30
myBodyInfo['height'] += 0.001 * 30

# display the updated body information as a dictionary
print({'Name': myBodyInfo['name'], 'Weight after 30 days': myBodyInfo['weight'], 'Height after 30 days': myBodyInfo['height']})
print("BMI: ", round(BMI,2))

{'Name': 'Kevin', 'Weight after 30 days': 74.0, 'Height after 30 days': 1.83}
BMI:  22.1

In [73]:
#36강. keys()함수, values()함수

info = {'name': '레나', 'grade': '1', 'email': 'amor', 'address': '서울'}

print(info.keys())
print(info.values())
print(info.items())   

print()

for key in info.keys():
    print(f'{key}: {info[key]}')

dict_keys(['name', 'grade', 'email', 'address'])
dict_values(['레나', '1', 'amor', '서울'])
dict_items([('name', '레나'), ('grade', '1'), ('email', 'amor'), ('address', '서울')])

name: 레나
grade: 1
email: amor
address: 서울

In [74]:
#학생의 시험 점수가 60점 미만이면 F(재시험)으로 값을 변경, keys()사용

subject_scores = {'Korean': 88, 'English': 55, 'Math': 85, 'Science': 57, 'History': 82}

# loop through the keys in the dictionary and change the value to 'F' if the score is less than 60
for subject in subject_scores.keys():
    if subject_scores[subject] < 60:
        subject_scores[subject] = 'F'

print(subject_scores)  # display the updated dictionary

{'Korean': 88, 'English': 'F', 'Math': 85, 'Science': 'F', 'History': 82}

In [82]:
#37강. 딕셔너리 삭제: del과 pop()사용

#이름, 메일주소, 학년, 취미를 딕셔너리 형태로 저장하고 이 정보에 메일주소와 취미를 삭제해서 출력하는 프로그램

#1. del사용
personal_info = {
    'name': 'John Smith',
    'email': 'johnsmith@gmail.com',
    'grade': 'A',
    'hobbies': ['reading', 'swimming', 'hiking']
}

# delete email and hobbies
if 'email' in personal_info:
    del personal_info['email']
    del personal_info['hobbies']

# print updated personal information
print(personal_info)

{'name': 'John Smith', 'grade': 'A'}

In [83]:
#2. pop()와 key를 사용한 삭제

personal_info = {
    'name': 'John Smith',
    'email': 'johnsmith@gmail.com',
    'grade': 'A',
    'hobbies': ['reading', 'swimming', 'hiking']
}

# delete email and hobbies
personal_info.pop('email', None)
personal_info.pop('hobbies', None)

# print updated personal information
print(personal_info)

{'name': 'John Smith', 'grade': 'A'}

In [80]:
# 최고점과 최저점을 찾아 삭제

scores = {'score1': 8.9, 'score2': 8.1, 'score3': 8.5, 'score4': 9.8, 'score5': 8.8}

# find and delete the highest and lowest scores
highest_score = max(scores.values())
lowest_score = min(scores.values())
keys_to_delete = []
for key, value in scores.items():
    if value == highest_score or value == lowest_score:
        keys_to_delete.append(key)
for key in keys_to_delete:
    del scores[key]

# print the highest and lowest scores
print("Highest score:", highest_score)
print("Lowest score:", lowest_score)

# print the updated dictionary
print("Updated dictionary:", scores)

Highest score: 9.8
Lowest score: 8.1
Updated dictionary: {'score1': 8.9, 'score3': 8.5, 'score5': 8.8}

In [81]:
#38강. 딕셔너리 유용한 기능: in, len(), clear()

'''
1. in과 not in: 키 존재 유무를 판단한다.
2. len(): 아이템 개수를 알수있다.
3. clear(): 모든 아이템을 삭제한다.
'''

#개인정보에 연락처와 주민번호가 있다면 삭제하는 프로그램

personal_info = {
    'name': 'John Smith',
    'age': 30,
    'email': 'johnsmith@gmail.com',
    'phone': '555-1234',
    'ssn': '123-45-6789',
    'address': '123 Main St, Anytown USA'
}

# delete contact information and social security number
if 'phone' in personal_info:
    del personal_info['phone']
if 'ssn' in personal_info:
    del personal_info['ssn']

# print updated personal information
print(personal_info)

{'name': 'John Smith', 'age': 30, 'email': 'johnsmith@gmail.com', 'address': '123 Main St, Anytown USA'}