In [2]:
import pandas as pd

names=['Bob', 'Jessica', 'Mary', 'John', 'Mel', 'Henry']
births=[1990, 1988,1987,1978,2000,2020]
custom=[1,5,6,7,8,10]

dataset=list(zip(names, births))
df=pd.DataFrame(data=dataset, columns=['names', 'births'])
                
df.head()

     names  births
0      Bob    1990
1  Jessica    1988
2     Mary    1987
3     John    1978
4      Mel    2000

In [3]:
names_df=df['names']
print(type(names_df))
print(names_df.head())

<class 'pandas.core.series.Series'>
0        Bob
1    Jessica
2       Mary
3       John
4        Mel
Name: names, dtype: object

In [4]:
subset=df[['names', 'births']]
print(type(subset))
print(subset.head())

<class 'pandas.core.frame.DataFrame'>
     names  births
0      Bob    1990
1  Jessica    1988
2     Mary    1987
3     John    1978
4      Mel    2000

In [5]:
print(df.loc[0])

names      Bob
births    1990
Name: 0, dtype: object

In [7]:
# print(df.loc[-1])

In [9]:
print(df.iloc[-1])  #마지막 데이터 출력

names     Henry
births     2020
Name: 5, dtype: object

In [11]:
print(df.loc[[0,3,5]])

   names  births
0    Bob    1990
3   John    1978
5  Henry    2020

In [13]:
print(df.tail(n=1))

   names  births
5  Henry    2020

In [14]:
sub_loc=df.loc[0]
sub_tail=df.tail(n=1)

print(type(sub_loc))
print(type(sub_tail))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [15]:
import pandas as pd

dic={'name':['kim','lee','park'],'kor':[80,90,75],'eng':[80,98,100]}  #딕셔너리 생성
ser_data=pd.Series(dic)  #시리즈 생성 //인덱스로 간다 cf. DataFrame
ser_data

name    [kim, lee, park]
kor         [80, 90, 75]
eng        [80, 98, 100]
dtype: object

In [18]:
import pandas as pd
import numpy as np

arr=np.array([80,90,95])  #배열 생성
ser_data=pd.Series(arr)   #시리즈 생성
ser_data

0    80
1    90
2    95
dtype: int32

In [ ]:
#pandas.DataFrame(data(딕셔너리, 리스트, 스칼라, 넘파이배열, df객체),
                 index(행의 리스트),
                 columns(열의 리스트),
                 dtype(데이터 타입)
                 )

In [20]:
import pandas as pd
import numpy as np

arr=np.array([80,90,95])
df=pd.DataFrame(arr)
df

    0
0  80
1  90
2  95

In [21]:
import pandas as pd

dic={'name':['kim','lee','park'],'kor':[80,90,75],'eng':[80,98,100]}  #딕셔너리 생성
df=pd.DataFrame(dic)  #데이터프레임 생성// 열로 간다 cf.Series
df

   name  kor  eng
0   kim   80   80
1   lee   90   98
2  park   75  100

In [ ]:
#색인객체

#index객체명=pandas.Index(index list,
                         dtype=None,
                         name=None)

In [22]:
import pandas as pd
stud_id=pd.Index(['name','kor','eng'])
stud_id

Index(['name', 'kor', 'eng'], dtype='object')

In [23]:
stud_data=pd.Series([['kim','lee','park'],[90,80,97],[70,97,100]])
stud_data

0    [kim, lee, park]
1        [90, 80, 97]
2       [70, 97, 100]
dtype: object

In [25]:
stud_data.index=stud_id
stud_data

name    [kim, lee, park]
kor         [90, 80, 97]
eng        [70, 97, 100]
dtype: object